body{
    background: #352f5b;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }
 
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
    margin-right: 10px;
    padding: 5px;
  }

  input[type=text]:focus {
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px rgb(255, 255, 255);
  }

  #content {
      margin-top: 100px;
  }

  .todo-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 73, 73, 0.253);
    border: 5px solid rgba(0, 0, 0, 0.424);
    margin: 40px auto;
    padding: 20px;
    width: 50%;
    text-align: justify;
    border-radius: 5px;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
  }

  label {
    margin: 10px 20px 10px 15px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
  }
  input {
    margin-bottom: 20px;
  }

  button {
    margin: 0 10px;
    padding: 5px 12px;
    border-radius: 3px;
    border-radius: 5px;
    height: 35px;
    color: white;
    border: none;
    background: rgba(0,0,0,0.2);
  }
  
  button:hover {
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
  }
  
  button:focus {
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px rgb(255, 255, 255);
  }

  .todo {
    /* margin: 15px auto; */
    width: 50%;
    margin: 10px auto;
    padding: 40px;
    border: 5px solid rgba(44, 44, 44, 0.109);
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    
  }
  
  .todo > p {
    text-align: justify;
    line-height: 1.7em;
  }
  
  